.error-message {
    color: var(--ion-color-danger);
}

ion-item{
    width: 80%;
    margin-left: 10%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
}

div{
    width: 80%;
    margin-left: 10%;
}